<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893247641601-0bkm3l90mf5u5mv5tvbr5a28vk2gqvjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893247641601-0bkm3l90mf5u5mv5tvbr5a28vk2gqvjq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>893247641601-h9j81t5e1cokqnf437idm4objecbhrmh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZmDeV3CabM0DPsCkLwHXgzLeOjUcUDzw</string>
	<key>GCM_SENDER_ID</key>
	<string>893247641601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bework</string>
	<key>PROJECT_ID</key>
	<string>beworkattendance</string>
	<key>STORAGE_BUCKET</key>
	<string>beworkattendance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893247641601:ios:b1491acfbb0b7481084800</string>
	<key>DATABASE_URL</key>
	<string>https://beworkattendance.firebaseio.com</string>
</dict>
</plist>